
.company-wrapper{
	margin-bottom: 20px;
}
.company{
	border:1px solid #acacac;
	padding: 15px;
	position: relative;
}
.company:hover{
	border-width: 5px !important;
}
.company .title{
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
}
.company .description{
	font-size: 15px;
	font-weight: 400;
	color: #333 ;
	margin-bottom: 10px;
}
.company .type_company{
	font-weight: normal;
	font-size: 12px;
}

.company .ofer {
	padding-top: 5px;
	font-size: 18px;
	font-weight: bold;
	font-family: Renault;
	color: #000;
}
.company-enter{
	border-color: #000;
}
.company-border{
	border: 1px solid #acacac;
	background: #fafafa;
	
}
.company-check{
	padding: 0 15px;
	font-size: 16px;
}
.company-check .title, .vigoda .title{
	font-size: 18px;
	font-weight: bold;
	font-family: Renault;
	color: #000;
	text-transform: uppercase;
	text-align: center;
	padding-bottom: 5px;
	margin-bottom: 10px;
	border-bottom: 1px solid #acacac;
}
.vigoda .title{
	margin-top: 20px;
	display: none;
}
.company-check div{
	pointer-events: none;
}
.company-check .left-block, .total-company .left-block{
	float: left;
	font-size: 16px;
}
.company-check .right-block, .total-company .right-block{
	float: right;
	font-size: 16px;
	color: #000;
}
.company-check .car-price{
	width: 100%;float:left;border-bottom: 1px dashed #acacac;padding-bottom: 3px;margin-bottom: 3px;
}
.company-check .type_company{
	font-size: 10px;
}

.total-company{
	padding: 0 15px;
}

.vigoda{
	padding: 0 15px;
	float: left;
	width: 100%;
}
.vigoda div{
	width: 100%;
}
.vigoda .type_company{
	display: none;
}

.vigoda .checkcompany{
	border: 0px !important;
	color: green !important;
}
.addingcompany .fa{
	float: right;
	color:#0a0;
}
.smallcompany .ofer{
	color: #000;
}
.bigblack .vigoda{
	padding: 0px;
	font-size: 14px;
}
.bigblack .title{
	font-size: 18px;
	text-align: left;
	width: 100%;
	font-weight: bold;
	border-bottom: 1px dashed #ccc;
	padding-bottom: 3px;
	margin-bottom: 3px;
	color: #333;
	margin-top: 10px;
	text-transform: none;
}
.vigoda .checkcompany{
	height: 23px !important;
	float: right;
}
.timer{
	margin:auto;
	text-align: center;
}
.timer span{
	display: inline-block;
	text-align: center;
	padding: 0 3px;
	color: #777;
}
.timer span b{
	font-size: 22px;
	color: #333;
}
.timer i{
	font-size: 22px;
	font-style: normal;
	vertical-align: top;
}
.timer .white i{
	color: #fff;
}
.timer .black i{
	color: #333;
}




.timer{
	margin:auto;
	text-align: center;
}
.nonTimer span{
	display: inline-block;
	text-align: center;
	padding: 0 3px;
	color: #ccc;
}
.nonTimer span b{
	font-size: 22px;
	color: #ccc;
}
.nonTimer i{
	font-size: 22px;
	font-style: normal;
	vertical-align: top;
}
.nonTimer .white i{
	color: #fff;
}
.nonTimer .black i{
	color: #ccc;
}



.smallcompany{
    border: 1px solid #dcdcdc;
    margin-bottom: 5px;
    display: -webkit-flex;
    -webkit-align-items: center;
    display: flex;
    align-items: center;
    padding: 5px 0;
    background: linear-gradient(to right, #fff,#f5f5f5);
}
.smallcompany:hover{
    border-width: 3px;
}

.vigoda .title, .company-check .title{
	text-transform: none;
	font-size: 18px !important;
}


.total-company b{
	font-size: 18px;
	font-family: Renault;
}

.company .checkcompany{
    background: #fff;position: absolute;right: 5px; bottom: 5px;
}

@media screen and (min-width: 900px)
{
    .company-small {
        display: none;
    }
    .company-wrapper{
    	display: block;
    }
}

@media screen and (max-width: 899px)
{
    .company-small {
        display: block;
    }
    .company-wrapper{
    	display: none;
    }
    .vigoda .title, .company-check .title{
		/*font-size: 14px !important;*/
	}
	.company-check .left-block, .company-check .right-block{
		font-size: 14px;
	}
}

@media screen and (min-width: 900px) and (max-width: 1200px){
	.company .tosmall{
		display: flex;
		align-items: center;
		font-size: 12px;
	}
	.vigoda .title, .company-check .title{
		/*font-size: 14px !important;*/
	}
	.company .title{
		font-size: 16px;
	}
}



@media screen and (max-width: 320px){
    .iphone4{
        font-size: 14px;font-weight: normal;
    }
}
@media screen and (min-width: 321px){
    .iphone4{
        font-size: 14px;font-weight: bold;
    }
}