.cbp-vimenu {
       position: fixed;
       overflow: hidden;
       top: 0;
       left: 0px;
       height: 100%;
       list-style-type: none;
       margin: 0;
       padding: 0;
       background: #ddd;
       z-index: 1000;
       width: 60px;
       transition: width 0.3s linear;
       box-shadow: 0 0 15px #333;

      }
.cbp-vimenu:hover{
    width: 270px;
    box-shadow: 0 0 15px #333;
}
    .cbp-vimenu li a {
     display: block;
     padding-left: 15px;
     /*text-indent: -500em;*/
     height: 70px;
     width: 100%;
     line-height: 70px;
     text-align: center;
     color: #999;
     position: relative;
     border-bottom: 1px solid rgba(0,0,0,0.07);
     -webkit-transition: background 0.1s ease-in-out;
     -moz-transition: background 0.1s ease-in-out;
     transition: background 0.1s ease-in-out;
     font-size: 30px;
     overflow: hidden;

    }
    .cbp-vimenu li a span{
        font-size: 18px;
        line-height: 70px;
        display: flex;
        align-items: center;
    }
    .cbp-vimenu div{
      line-height: 70px;
    }
    .cbp-vimenu li a:hover{
     background: #ffcd00;
     color: #333;
     text-decoration: none;
    }

    /* класс активного элемента */
    .cbp-vimenu li.cbp-vicurrent a {
     background: #fff;
     color: #47a3da;
    }
    

@media screen and (max-width: 600px) {
    .cbp-vimenu {
        display: none;
        width: 0px;
    }
}